<div class="wrapper wrapper-content" id="mainWrapper" style="padding:0;">
 <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Graphic Designs
        <small>Website, graphic, logo and event designs</small>
      </h1>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7" style="padding:25px;">
        <div class="col-md-5">
            <img class="fullImg imgDesigns" src="assets/img/designs/design-1-small.png" alt="assets/img/designs/design-1.jpg">
          </div>
          <div class="col-md-5">
          <img class="fullImg imgDesigns" src="assets/img/designs/design-2-small.png" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <h3>Alaska Airlines Stadium</h3>
          <p>I worked with the promotions team for the Alaska Airlines Stadium and created a season of event posters and adverts for their 2015 winter season</p>
          <a class="btn btn-primary" href="https://vi.st/" target="blank">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7" style="padding:25px;">
        <div class="col-md-5">
            <img class="fullImg imgDesigns" src="assets/img/projects/projects-web-1.png" alt="">
          </div>
          <div class="col-md-5">
          <img class="fullImg" src="assets/img/projects/projects-web-2.png" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <h3>Project Two</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
          <a class="btn btn-primary" href="#" target="blank">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7" style="padding:25px;">
        <div class="col-md-5">
            <img class="fullImg imgDesigns" src="assets/img/projects/projects-web-1.png" alt="">
          </div>
          <div class="col-md-5">
          <img class="fullImg" src="assets/img/projects/projects-web-2.png" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <h3>HooTian</h3>
          <p>A sculptor from California needed a simple and clean website to show his work and attract more clients. I rewrote an angularjs/bootstrap template based on websites he liked for a modern minimalist design.</p>
          <a class="btn btn-primary" href="http://hootian.herokuapp.com/" target="blank">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Four -->
      <div class="row">
      <div class="col-md-7" style="padding:25px;">
        <div class="col-md-5">
            <img class="fullImg imgDesigns" src="assets/img/projects/projects-web-1.png" alt="">
          </div>
          <div class="col-md-5">
          <img class="fullImg" src="assets/img/projects/projects-web-2.png" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <h3>Fazio Pizza</h3>
          <p>Fazio Pizza, a Pittsburgh pizzaria, had an outdated unresponsive website from the early 2000's. I completely redesigned the website to be simpler and with a clean, responsive, design so customers could easily make a selection and call to order.</p>
          <a class="btn btn-primary" href="https://fazziopizza.herokuapp.com/" target="blank">View Project</a>
        </div>
      </div>
      <!-- /.row -->
      <hr>
    </div>
</div>