<div class="topNavContainer shadowGrow">
    <div class="col-lg-12" class="navHolder">
        <div class="x-home friendly"><img src="/assets/img/avatar/mobile-icon-sml.png" class="x-delete"></div>
        <span style="padding-left: 25px"  (click)="navigateMenu('/home')">Aidan Haughey </span>
        <p>|</p>
        <span class="navShrink" (click)="navigateMenu('/examples')" > Examples </span>
        <p>|</p>
        <span class="navShrink" (click)="navigateMenu('/resume')" > Resume</span>
        <address class="navHolderEmail">aidan@achportfolio.com </address>
    </div>
</div>