<div class="wrapper wrapper-content" id="mainWrapper">
    <div class="row">
        <div class="resumeSquareMargin">
            <div class="col-lg-10 col-sml-12 resumeContent">
                <h1 class="resumeH1">UX, UI, App & Site Proposal for John Doe</h1>
                <hr>
                <h1 class="resumeH1">Deliverables</h1>
                <p class="resumeH3" style="margin-bottom: 25px;color:#3a3a3a;">User Flows & User Persona<br>Iterated Wireframe<br>App with User Database<br>Website to correspond with App Users</p>
                <hr>
                <h1 class="resumeH1">Brief</h1>

                <p class="resumeP" style="margin-bottom: 25px;">The approach to this project will be data driven design based on user testing and feedback. The project will be split into four stages:</p>

                <p class="resumeH3" style="margin-bottom: 25px;">Research<br>Testing & Design<br>Prototype Development<br>Production Launch</p>

                <p class="resumeP">First, a <strong>User Persona</strong> will be developed based on in person and online research, which then will be used to create a <strong>User Flow</strong> and UI. The UI will then be iterated based on user feedback. Once an informed design has been created from testing and iteration, the <strong>App</strong> and <strong>Site</strong> will be constructed and tested thoroughly. Once testing, production, and deployment are complete, the App and Site will be ready for user recruitment and engagement. The App and Site will be iterated based on feedback and analysis of initial launch. Each stage of the project is estimated to take a business week at about 40 hrs/week.</p>

                <!-- Project Specifics -->

                <h1 class="resumeH1">Project Stages</h1>

                <h3 class="resumeH3">Research<span> - Define User & App Needs, Pain Points, User Persona and Flow</span></h3>
                <p class="resumeP">In the Research stage an initial <strong>User Persona</strong> will be developed based on in-depth research of college forums, social media sites, national studies of graduation rates, and various other informational sites. This will inform the brief of the project as well as define the needs of the App, Site, and user. In-depth research will also be done on which colleges should be focused on for recruiting testers, as well as future users. Next, contact will be made with teachers from selected colleges to set up a meeting with students about the App, Pain Points from their personal experience, as well as recruitment for testing. From this and initial data a complete <strong>User Persona</strong> and <strong>User Flow</strong> will be constructed for the App.</p>
                <ul class="proposalUl">
                    <li class="resumeH3">Brief & Competitor Research</li>
                    <li class="resumeH3">Research & contact Colleges/Forums/National Studies</li>
                    <li class="resumeH3">Persona Development</li>
                    <li class="resumeH3">User Flows</li>
                </ul>

                <h3 class="resumeH3">Testing & Design<span> - Iterate User Flows and UI based on A/B & User testing</span></h3>
                <p class="resumeP">Based on <strong>User Flows</strong> created in the research stage, A/B tests will be designed and tested on by recruited testers. Based on feedback, <strong>Wireframes</strong> will be constructed and iterated. After Wireframe iteration and feedback, final design for the prototype will be considered and decided on.</p>
                <ul class="proposalUl">
                    <li class="resumeH3">A/B & User Flow Testing</li>
                    <li class="resumeH3">Wireframe Creation & Iteration</li>
                    <li class="resumeH3">Discuss Feedback & Test Analysis</li>
                    <li class="resumeH3">Decide on Final Design for Production</li>
                </ul>

                <h3 class="resumeH3">Prototype Launch<span> - Create App and Site from Informed UI designs</span></h3>
                <p class="resumeP">This stage will be devoted entirely to building, testing, and deploying the <strong>App</strong> and <strong>Site</strong>. Heavy emphasis will be placed on testing for user functionality, bugs, responsive design, and cross browser/platform compatibility. Once thorough and proven testing is accomplished, the App and Site will be ready for Production Launch.</p>
                <ul class="proposalUl">
                    <li class="resumeH3">Build Site & App Backend</li>
                    <li class="resumeH3">Build Front-End of Site & App based on Designs</li>
                    <li class="resumeH3">Test Site and App Across Browsers, Devices, User Functionality</li>

                </ul>

                <h3 class="resumeH3">Production Launch<span> - Full Launch of App and Site with User Recruitment Strategy</span></h3>
                <p class="resumeP">A full scale launch of the <strong>App</strong> and <strong>Site</strong> for user sign up and functionality which will be monitored for problems and iteration based on user feedback and site analytics.</p>
                <ul class="proposalUl">
                    <li class="resumeH3">User Recruitment & Engagement</li>
                    <li class="resumeH3">Iteration based on Initial User Engagement</li>
                </ul>

                <h1 class="resumeH1">Pricing</h1>
                <p class="resumeP">Based on a combination of: average UX rates; the project deliverables (which include an <strong>App</strong> and corresponding <strong>Site</strong>); and since I will be performing UX,UI, and Fullstack Development, my rate is <strong>$80/hour</strong>. At an estimation of <strong>40 hours a week for four weeks</strong> that comes to <strong>$12,800</strong>.</p>
                <p class="resumeP">Of course, if the total hours worked is less than the estimated time the cost would be reduced accordingly, as well as if total hours worked exceeds the expected amount. If a fixed amount is preferred for this project, <strong>$13,000</strong> is also considerable for the entire project instead of a per hour basis.</p>
            </div>
        </div>
    </div>
</div>
