<div class="wrapper wrapper-content" id="mainWrapper">
    <div class="row">
        <div class="col-lg-12 mainSquare" id="mainSquareMargin" style="height: 900px;">
            <div class="col-lg-4 mainText">
                <h1 style="" class="primaryCT heavyText">I'm  a Frontend Developer with a passion for design.</h1>
                <h2 style="" class="">I  make clean sites that are easy to navigate<br> with JS, CSS/SASS, and Vector Graphics.</h2>
            </div>
            <div class="mobileHide">
                <img class="homeCircleImg" src="/assets/img/avatar/ach-logo.svg">
            </div>
        </div>
        
        <div class="col-lg-6 col-sm-12 mainSquare desktop_bg" >
            <span  (click)="navigateMenu('/examples')" >
                <div class="ibox-content mainHover relative0">
                    <div class="mainh1Div" id="HIG">
                        <h1 class="no-margins mainh1">Recent Projects</h1>
                        <h2 class="no-margins mainh2">Recent web and design work</h2>
                        <img src="/assets/img/avatar/desktop.svg">
                    </div>
                </div>
            </span>
        </div>

        <div class="col-lg-6 col-sm-12 mainSquare resume_bg mobileFooterMargin">
            <span  (click)="navigateMenu('/resume')" >
                <div class="ibox-content relative0">
                    <div class="mainh1Div">
                        <h1 class="no-margins mainh1">Resume</h1>
                        <h2 class="no-margins mainh2">Prior work history</h2>
                        <img src="/assets/img/avatar/resume.svg">
                    </div>
                </div>
            </span>
        </div>

    </div>
</div>