<div class="wrapper wrapper-content" id="mainWrapper">
    <div class="row">
        <div class="resumeSquareMargin">
            <div class="col-lg-10 col-sml-12 resumeContent">
                <h1 class="resumeH1">Front End Developer</h1>
                <hr>
                <h1 class="resumeH1">Skills</h1>
                <ul>
                    <li class="resumeH3">Strong with HTML5, CSS3/Pre-Processors, Jquery/Javascript</li>
                    <li class="resumeH3">Strong with Photoshop, Illustrator, SVG graphics, and Videography</li>
                    <li class="resumeH3">Strong with ReactVR</li>
                    <li class="resumeH3">Comfortable with js frameworks like React and Angular</li>
                </ul>
                <hr>
                <h1 class="resumeH1">Experience</h1>
                <h3 class="portfolioH3">Responsival<span> - 2017</span></h3>
                <p class="resumeP">At Responsival I worked remotely as a web designer to make templates and sites for clients. My focus was on remaking outdated websites to fit modern design standards with responsive form.</p>
                <h3 class="portfolioH3">Spoketh<span> - 2016</span></h3>
                <p class="resumeP">At Spoketh I helped design and code websites for local businesses in Anchorage Alaska, as well as make graphic and video assets for sites. I took care of the back end and front end development, which entailed installing wordpress on to servers and rewriting the php, css, and html to implement design mock-ups.</p>
                <h3 class="portfolioH3">Alaska Airlines Stadium<span> - 2015</span></h3>
                <p class="resumeP">At Alaska Airlines Sports Center, I served as both a Technical Director for their live games, and their graphic designer--creating branding for a season of promotional, and, event posters.</p>
                <h3 class="portfolioH3">Coastal Television<span> - 2014</span></h3>
                <p class="resumeP">I started as a production assistant and worked up to directing. I operated multiple positions in the production dept including directing, sound, gfx, camera, and editing.</p>
            </div>
        </div>
    </div>
</div>
