<div class="wrapper wrapper-content" id="mainWrapper">
 <div class="container" style="width: 100%;">
  <div class="exampleSquareMargin">
      <div class="col-md-10" style="margin: auto;float: none;">
        <!-- Page Heading -->
      <h1 class="my-4"><strong>Recent Websites</strong><hr>
        <small>Below is a collection of recent sites I have worked on. Each site has a different focus and unique design. I had differing roles on each site: from responsive redesigns, to implementing mock-ups, to developing sites from the bottom up.</small>
      </h1>

      <!-- Project One -->
      <div class="row" style="padding: 25px 0px 25px 0px">
        <div class="col-md-7">
          <a href="https://javahillcoffee.firebaseapp.com/" target="blank">
            <img class="fullImg" src="assets/img/projects/projects-web-0.png" alt="">
          </a>
        </div>
        <div class="col-md-5 examplesInfo">
          <h3>Java Hill</h3>
          <p>Java Hill is a coffee company that sells organic coffee beans. They wanted a fun, vibrant, site with a paypal shopping cart. I built a coffee themed design with personalized responsive animations for a unique and professional design.</p>
          <a class="btn btn-primary" href="https://javahillcoffee.firebaseapp.com/" target="blank">View Project</a>
          <div style="margin: 25px 0px;">
            <h3>Color Palette</h3>
            <div class="div_color_swatches">
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #4b2115;"></div><p>#4b2115</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #69bc45;"></div><p>#69bc45</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #c2e1af;"></div><p>#c2e1af</p></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Project Two -->
      <div class="row" style="padding: 25px 0px 25px 0px">

        <div class="col-md-7">
          <a href="https://fazziopizza.herokuapp.com/" target="blank">
            <img class="fullImg" src="assets/img/projects/projects-web-3.png" alt="">
          </a>
        </div>
        <div class="col-md-5 examplesInfo">
          <h3>Fazio Pizza</h3>
          <p>I redesigned a restaurant's website with a simple responsive design which made it easier for customers to navigate and order.</p>
          <a class="btn btn-primary" href="https://fazziopizza.herokuapp.com/" target="blank">View Project</a>
                    <div style="margin: 25px 0px;">
            <h3>Color Palette</h3>
            <div class="div_color_swatches">
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #E0DDD7;;"></div><p>#E0DDD7</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #2d3338;"></div><p>#2d3338</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #E68A1E;"></div><p>#E68A1E</p></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->


      <!-- Project Three -->
      <div class="row" style="padding: 25px 0px 25px 0px">
        <div class="col-md-7">
          <a href="http://hootian.herokuapp.com/" target="blank">
            <img class="fullImg" src="assets/img/projects/projects-web-2.png" alt="">
          </a>
        </div>
        <div class="col-md-5 examplesInfo">
          <h3>HooTian</h3>
          <p>A sculptor from California needed a portfolio website to show his work and attract more clients. I rewrote an angular/bootstrap template, based on websites he liked, for a modern and minimalist design.</p>
          <a class="btn btn-primary" href="http://hootian.herokuapp.com/" target="blank">View Project</a>
                    <div style="margin: 25px 0px;">
            <h3>Color Palette</h3>
            <div class="div_color_swatches">
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #5C5B59;"></div><p>#5C5B59</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #B6A986;"></div><p>#B6A986</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #D1D1CE;"></div><p>#D1D1CE</p></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->


      <!-- Project Four -->
      <div class="row" style="padding: 25px 0px 25px 0px">
        <div class="col-md-7">
          <a href="https://marioworld3d-faaed.firebaseapp.com/" target="blank">
            <img class="fullImg" src="assets/img/projects/projects-web-1.png" alt="">
          </a>
        </div>
        <div class="col-md-5 examplesInfo">
          <h3>Mario World</h3>
          <p>I built a 360 degrees VR App using React VR: including 3D and 360 assets. It is an homage to the NES game, Super Mario Bros. Built with the idea of exploring 2d shapes and physics in a 3 dimensional space.</p>
          <a class="btn btn-primary" href="https://marioworld3d-faaed.firebaseapp.com/" target="blank">View Project</a>
          <div style="margin: 25px 0px;">
            <h3>Color Palette</h3>
            <div class="div_color_swatches">
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #9192fe;"></div><p>#9192fe</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #DB6C00;"></div><p>#DB6C00</p></div>
              <div class="cs_wrapper"><div class="color_swatch" style="background-color: #6DDB00;"></div><p>#6DDB00</p></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      
      <hr>
    </div>
    </div>
    </div>
</div>